body {
    margin: 0;
    padding: 0;
    background-color: lightblue;
}
p {
    font-family: arial;
    font-size: 30px;
    font-weight: git 400;
    font-style: italic;
    color: rgb(235, 16, 16);
    font-size: 30px;
    text-align: center;
   <!-- text-transform: capitalize; -->
    text-decoration: underline;
    text-shadow: 2px 1px 2px rgb(226, 228, 78);
    display:inline-block;
}
#para { 
    color: red;
}
img {

    border: 2px solid black;
    border-radius: 50%;
    float: left;
    margin-right: 20px;
    padding: 3px;
}