body {
    margin: 0;
    padding: 0;
    background-color: lightblue;
}
p {
    font-family: arial;
    font-size: 30px;
    font-weight: 700;
    font-style: italic;
    color: rgb(235, 16, 16);
    font-size: 30px;
    text-align: center;
   <!-- text-transform: capitalize; -->
    text-decoration: underline;
    text-shadow: 2px 1px 2px rgb(226, 228, 78);
}
img {

    border: 2px solid black;
    border-radius: 50%;
    float: left;
    margin: 10px;
    padding: 3px;
    box-shadow: 4px 4px 5px grey;
}